.container {
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 30px;
        margin: 15px 40px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;

        &__item {
            width: 100%;
            margin: 10px 40px 0px 40px;
            p {
                font-size: 12px !important;
                margin-bottom: 10px;
                &.hover {
                    opacity: 0.6;
                }    
            }    
        }
    }
    .footer {
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        color: #A9A9A9;
        font-size: 1rem;
        margin: 10px;
    }
}