@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@600&family=Ubuntu+Mono&display=swap');

.sidebar {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .logo {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        margin: 30px 30px;
    
        span {
            color: orangered !important;
        }
    }
    
    .items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    
        .item {
            margin-bottom: 30px;
            opacity: 0.4;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            &.active {
                opacity: 1;
            }
            &:hover {
                opacity: 0.9;
            }
        }
    }

}
